@font-face {
  font-family: RockSalt;
  src:url("Rock_Salt/RockSalt.ttf");
}

body {
  background: #7D8A2E;
}

header, main, footer {
  background: #C9D787;
  border: 0.1rem solid #C9D787;
}

header {
  height: auto;
}

main {
  background: #FFFFFF;
}

h1, h2 {
  font-family: RockSalt;
  text-align: center;
}

h1 {
  font-size: 4rem;
  color: #FFFFFF;
  margin: 1rem;
}

article {
  padding: 3rem 0 0 0;
}

h2 {
  font-size: 2.5rem;
  color: #7D8A2E;
}

div {
  text-align: center;
}

figure {
  background: #C9D787;
  margin: 1rem 1rem 3rem 1rem;
  padding: 1rem;
  border-radius: 3rem;
  box-shadow: 0 0.5rem 0 #7D8A2E;
  transition: all .1s linear;
}

figure.chosen_kitty {
  background: #FF8598;
  box-shadow: 0 0.5rem 0 #FFC0A9;
  transform: translateY(0rem);
}

figure:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 0 #7D8A2E;
  transform: translateY(0.1rem);
}

figure:active {
  box-shadow: 0 0.2rem 0 #7D8A2E;
  transform: translateY(0.3rem);
}

figure.chosen_kitty:hover {
  background: #FF8598;
  box-shadow: 0 0.4rem 0 #FFC0A9;
  transform: translateY(0.1rem);
  cursor: default;
}

figure.unchosen_kitty:hover {
  background: #C9D787;
  box-shadow: 0 0.4rem 0 #7D8A2E;
  transform: translateY(0.1rem);
  cursor: default;
}

img {
  border-radius: 3rem;
}

button {
  background: #FF8598;
  font-family: RockSalt;
  border-width: 0;
  color: #FFFFFF;
  box-shadow: 0 0.4rem 0 #FFC0A9;
  transition: all .1s linear;
}

button:hover {
  color: #FFFFFF;
  box-shadow: 0 0.3rem 0 #FFC0A9;
  transform: translateY(0.1rem);
}

button:active {
  color: #FFFFFF;
  box-shadow: 0 0.1rem 0 #FFC0A9;
  transform: translateY(0.3rem);
}

button:focus {
  color: #FFFFFF;
}

.user_opinion {
  display: block;
  height: 38px;
  margin: 0 0 1rem 0;
  font-family: RockSalt;
  color: #7D8A2E;
}

aside {
  text-align: center;
}

#more_kittens {
  margin: 1rem 0 3rem 0;
}
