@font-face {
  font-family: RockSalt;
  src:url("Rock_Salt/RockSalt.ttf");
}

* {
  box-sizing: border-box;
}

@media (max-width: 550px) {
  .offset-by-one.columns {
    margin-left: 0;
  }
}

body {
  background: #7D8A2E;
}

header, main, footer {
  background: #C9D787;
  border: 0.1rem solid #C9D787;
}

main {
  background: #FFFFFF;
}

h1, h2 {
  font-family: RockSalt;
  text-align: center;
}

h1 {
  font-size: 4rem;
  color: #FFFFFF;
}

article {
  padding: 3rem;
}

h2 {
  font-size: 2rem;
  color: #7D8A2E;
}

div {
  text-align: center;
}

figure {
  background: #C9D787;
  margin: 1rem;
  padding: 1rem;
}

figure.chosen_kitty {
  background: #FF8598;
}

figure:hover {
  background: #FFC0A9;
  cursor: pointer;
}

figure.chosen_kitty:hover {
  background: #FF8598;
  cursor: default;
}

figure.unchosen_kitty:hover {
  background: #C9D787;
  cursor: default;
}

button {

  background: #FF8598;
  font-family: RockSalt;
  border-width: 0;
  color: #FFFFFF;
}

button:hover {
  background: #FFC0A9;
  color: #FFFFFF;
}

button:active {
  background: #FFC0A9;
  color: #FFFFFF;
}

.user_opinion {
  font-family: RockSalt;
  color: #7D8A2E;
}

aside {
  text-align: center;
}

#more_kittens {
  margin: 10px 0 10px 0;
}
